@import '../constants.scss';

.qr-donation-image {
  min-width: 342px;
  min-height: 342px;
  background:
    url('../../../public/images/visuals/corner-left-top-qr-home.svg') left top no-repeat,
    url('../../../public/images/visuals/corner-right-bottom-qr-home.svg') right bottom no-repeat;

  @media screen and (max-width: $layout-breakpoint-tablet-s) {
    min-width: 230px;
    min-height: 230px;
    background-size: 30%;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-xs-bugfix) {
    align-self: center;
  }

  @media screen and (max-width: $layout-breakpoint-mobile-xl) {
    display: none;
  }
}
