@import '../constants.scss';

.section-reports {
  margin-top: 100px;
  margin-bottom: 150px;

  @media screen and (max-width: $layout-breakpoint-desktop-m) {
    margin-top: 80px;
  }

  .section-reports__list {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;

    @media screen and (max-width: $layout-breakpoint-desktop-m) {
      gap: 60px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-m) {
      display: grid;
      grid-template: auto 1fr / 1fr 1fr;
      gap: 40px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-xs) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
