@import '../constants.scss';

.section-legal-info {
  margin-bottom: 150px;
  min-height: 520px;
  padding-left: 150px;
  padding-right: 150px;

  display: flex;
  justify-content: space-between;
  column-gap: 60px;

  @media screen and (max-width: $layout-breakpoint-desktop-m) {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 150px;
  }

  .section-legal-info__data {
  }

  .legal-data {
    width: 100%;
    line-height: 115%;
    font-size: 16px;

    .legal-data__data {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 25px 23px;

      @media screen and (max-width: $layout-breakpoint-desktop-m) {
        gap: 30px 23px;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-xs) {
        gap: 20px 23px;
      }
    }

    .data {
      .data__heading {
        color: $color-dark-m;
      }
    }
  }

  .section-legal-info__papers {
  }

  .legal-papers {
    display: flex;
    flex-direction: column;
    width: 100%;

    .legal-papers__list {
      display: flex;
      gap: 53px;
      flex-wrap: wrap;

      @media screen and (max-width: $layout-breakpoint-desktop-m) {
        justify-content: space-around;
        gap: 60px;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-xs) {
        gap: 40px;
      }
    }

    img {
      min-width: 153px;
    }
  }
}
