.section-legal-info {
  margin-bottom: 150px;
  min-height: 520px;
  padding-left: 150px;
  padding-right: 150px;

  .section-legal-info__data {
  }

  .legal-data {
    h2 {
      margin-bottom: 45px;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
    }

    .legal-data__data {
      display: grid;
      grid-template-columns: auto 1fr;
      max-width: 780px;
      grid-gap: 16px 23px;
      gap: 17px 23px;
      line-height: 19px;
    }
  }

  .section-legal-info__papers {
  }

  .legal-papers {
  }
}
