$color-light-xl: #FFFFFF;
$color-light-l: #F9F9F9;
$color-light-m: #F6F6F6;
$color-light-s: #E0E0E0;
$color-dark-s: #D9D9D9;
$color-dark-m: #8B8B8B;
$color-dark-l: #282828;

$color-primary-yellow: #FFDB23;
$color-primary-blue: #263C93;
$color-primary-pink: #E38895;

$layout-breakpoint-desktop-xl: 1920px;
$layout-breakpoint-desktop-l: 1760px;
$layout-breakpoint-desktop-m: 1600px;
$layout-breakpoint-desktop-s: 1490px;
$layout-breakpoint-desktop-xs: 1280px;

$layout-breakpoint-tablet-l: 1167px;
$layout-breakpoint-tablet-m: 1000px;
$layout-breakpoint-tablet-s: 910px;
$layout-breakpoint-tablet-xs: 744px;

$layout-breakpoint-tablet-xs-bugfix: 730px;

$layout-breakpoint-mobile-xl: 428px;
$layout-breakpoint-mobile-l: 390px;
$layout-breakpoint-mobile-s: 320px;
