@import '../constants.scss';

.program-card {
  display: flex;
  background-color: $color-light-xl;
  border-radius: 30px;
  padding: 40px 0;

  .program-card__number {
    margin: 0 60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 40px;
    }
  }

  .program-card__body {
    h3 {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 30px;
      line-height: 24px;
    }
    
    p {
      color: $color-dark-m;
      line-height: 20px;
    }
  }

  .program-card__button {
    margin: 0 60px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
