@import '../constants.scss';

.program-card {
  display: flex;
  background-color: $color-light-xl;
  border-radius: 30px;
  padding: 44px 0;

  .program-card__number {
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 40px;
    }
  }

  .program-card__body {
    max-width: 765px;

    h3 {
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  .program-card__button {
  }
}
