@import '../constants.scss';

.project-group {
  padding-top: 70px;
  padding-bottom: 100px;
  width: 100%;
  border-top: 1px solid $color-dark-m;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-margin-top: 200px;
  align-items: flex-end;

  .project-group__title {
    margin-bottom: 40px;
    align-self: flex-start;

    h2 {
      font-size: 40px;
      text-transform: uppercase;
    }


  }

  .project-group__hints {

  }

  .project-group__hint {

  }

  .project-group__programs-container {
    max-width: 1124px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
