@import '../constants.scss';

.button-dropdown {
  padding: 0 20px 0 44px;
  height: 65px;
  min-width: 330px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-dark-l;
  color: $color-light-m;
  font-family: Steppe;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  transition: 0.3s linear all 0.7s;

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    padding: 0 20px 0 40px;
    height: 60px;
    min-width: 310px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-l) {
    min-width: 270px;
    font-size: 20px;
  }

  @media screen and (max-width: $layout-breakpoint-mobile-xl) {
    max-width: 348px;
    width: 100%;
    font-size: 15px;
    border-radius: 25px;
    min-width: initial;
  }

  &::after {
    content: '';
    display: block;
    margin-right: 3px;
    width: 17px;
    height: 10px;
    background: url('../../../public/images/icons/icon-arrow-down-white-dropdown.svg');
    cursor: pointer;
  }

  .button-dropdown__text {
    cursor: pointer;

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      width: 100%;
      text-align: center;
    }
  }

  .dropdown-list {
    overflow: hidden;
    position: absolute;
    top: 65px;
    left: 0;
    height: 0;
    max-height: 0;
    padding: 0 33px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
    line-height: 18px;
    background: $color-dark-l;
    transition: 0.5s linear all 0.3s;
    z-index: 10;

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      top: 60px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      width: 100%;
    }

    &_is-opened {
      height: fit-content;
      max-height: 800px;
      padding: 33px;
      transition: 0.5s linear all 0.3s;
    }
  }

  &_is-opened {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.1s linear all;
  }

  li {
  }
}
