@import '../constants.scss';

.donation-form {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 31px;
  max-width: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 60px;
  background: $color-light-l;
  box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.04);

  @media screen and (max-width: $layout-breakpoint-desktop-m) {
    max-width: 675px;
  }

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    max-width: 640px;
    margin-top: 100px;
    padding-bottom: 60px;
    padding-left: 0px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-l) {
    max-width: 900px;
    margin-top: 50px;
  }

  @media screen and (max-width: $layout-breakpoint-mobile-xl) {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 235px;
    background-color: initial;
    box-shadow: none;
  }

  .donation-form__type-switch {
    padding: 10px;
    width: 360px;
    min-height: 75px;
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    background: #263c93;
    box-shadow: 0px 0px 17px 0px rgba(132, 132, 132, 0.13);
    color: $color-light-m;
    text-align: center;
    font-size: 24px;
    line-height: 55px;

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      max-width: 170px;
      font-size: 10px;
      line-height: 25px;
      min-height: 35px;
      border-radius: 13px;
      padding: 5px;
    }
  }

  .donation-form__switch-button {
    min-width: 145px;
    padding: 0 22px;
    border-radius: 15px;
    cursor: pointer;

    transition: background-color 0.4s;

    &:hover {
      background-color: #0e216a;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      min-width: 70px;
      padding: 0 13px;
      border-radius: 7px;
    }
  }

  .donation-form__switch-button_active {
    background-color: $color-light-m;
    color: $color-dark-l;

    &:hover {
      background-color: $color-light-s;
    }
  }

  .form-inputs {
    margin-top: 45px;
    padding: 45px 30px 50px 30px;
    max-width: 510px;
    min-height: 570px;
    width: 100%;
    border-radius: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 25px 0px rgba(86, 86, 86, 0.19);

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      font-size: 10px;
      padding: 21px 14px;
      min-height: initial;
      margin-top: 20px;
      border-radius: 10px;
    }

    .form-inputs__label-amount {
      margin-bottom: 50px;
      max-width: 420px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-wrap: nowrap;
      font-size: 24px;
      line-height: 40px;

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        font-size: 10px;
        line-height: 27px;
        margin-bottom: 22px;
        max-width: 200px;
      }
    }

    .form-inputs__input-amount {
      max-width: 300px;
      margin-bottom: 0;
      margin-right: 10px;
      padding-top: 10px;
      text-align: center;

      transition: max-width 0.4s;

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        padding-top: 0;
        max-width: 140px;
      }
    }

    .form-inputs__input-amount_once {
      max-width: 365px;
    }

    input {
      margin-bottom: 15px;
      padding: 0 25px;
      padding-top: 5px;
      max-width: 420px;
      width: 100%;
      height: 58px;
      border-radius: 21px;
      background: $color-light-m;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      font-size: 24px;
      line-height: 39px;

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        height: 27px;
        font-size: 10px;
        line-height: 27px;
        padding-top: 0;
        padding: 0 15px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        max-width: 200px;
        margin-bottom: 10px;
      }
    }

    button {
      margin-top: 30px;
      margin-bottom: 40px;
      max-width: 450px;
      min-height: 65px;
      width: 100%;
      border-radius: 20px;
      background: #263c93;
      font-size: 24px;
      line-height: 40px;
      color: $color-light-m;

      transition: background-color 0.4s;

      &:hover {
        background-color: #0e216a;
      }

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        margin-top: 10px;
        margin-bottom: 20px;
        min-height: 35px;
        font-size: 10px;
        line-height: 35px;
        border-radius: 10px;
      }
    }

    .form-inputs__reminder {
      text-align: center;
      font-size: 14px;
      line-height: 15px;

      a {
        color: rgba(38, 60, 147, 0.75);
      }
      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        font-size: 7px;
        line-height: 7px;
      }
    }

    .form-inputs__reminder_monthly {
      margin-bottom: 15px;
      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        margin-bottom: 8px;
      }
    }

    .form-inputs__reminder_once {
      margin-bottom: 15px;
      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        margin-bottom: 8px;
      }
    }

    .form-inputs__reminder_rules {
    }
  }
}
