@font-face {
  font-family: 'Steppe';
  src: url('../../assets/fonts/Steppe/Steppe-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  background:
  url('../../../public/images/visual.svg') no-repeat calc(100vw - 1035px) 143px,
  url('../../../public/images/Ellipse18.svg') no-repeat center 2037px,
  url('../../../public/images/ellipse.svg') no-repeat calc(100vw - 1529px) 5198px;
  font-family: Steppe;
}

.main-page {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}
