body {
  background:
  url('../../../public/images/three-color-gradient-home.svg') no-repeat calc(100vw - 1035px) 143px,
  url('../../../public/images/ellipse-subtraction-white-home.svg') no-repeat center 2037px,
  url('../../../public/images/ellipse-offset-gradient-white-home.svg') no-repeat calc(100vw - 1529px) 5198px;
}

.home-page {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}
