@import '../constants.scss';

.section-donation {
  padding: 0 150px;
  margin-bottom: 150px;
  min-height: 815px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $layout-breakpoint-desktop-l) {
    padding: 0 70px;
  }

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    padding: 0 50px;
    padding-right: 50px;
    min-height: 925px;
  }

  @media screen and (max-width: $layout-breakpoint-desktop-xs) {
    padding: 0 50px;
    min-height: 910px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-l) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-s) {
    padding: 0 30px;
  }

  .section-donation__qr {
  }

  .qr-donation {
    max-width: 750px;
    margin-right: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      align-items: flex-start;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-xs) {
      max-width: 370px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      max-width: inherit;
      margin-right: initial;
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-s) {
      min-height: 312px;
      margin-bottom: 50px;
    }

    .qr-donation__title {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 40px;
      line-height: 66px;
      text-transform: uppercase;

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        margin-top: 0px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-l) {
        font-size: 32px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-m) {
        margin-bottom: 25px;
      }
    }

    .qr-donation__subtitle {
      max-width: 655px;
      font-size: 24px;
      line-height: 30px;
      position: relative;

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        max-width: 360px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-l) {
        max-width: 550px;
        font-size: 20px;
        line-height: 25px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-m) {
        max-width: 500px;
      }

      &::after {
        content: '';
        display: block;
        width: 374px;
        height: 243px;
        position: absolute;
        bottom: -215px;
        right: -279px;
        background-image: url('../../../public/images/visuals/arrow-down-right-bottom-blue-hand-drawn.svg');
        background-repeat: no-repeat;

        @media screen and (max-width: $layout-breakpoint-desktop-m) {
          right: -225px;
        }

        @media screen and (max-width: $layout-breakpoint-desktop-m) {
          background-size: cover;
          width: 303px;
          height: 191px;
          left: 343px;
          top: 90px;
        }

        @media screen and (max-width: $layout-breakpoint-tablet-m) {
          width: 317px;
          height: 227px;
          left: 11px;
          top: 105px;
        }

        @media screen and (max-width: $layout-breakpoint-tablet-s) {
          width: 317px;
          height: 227px;
          left: 52px;
          top: 105px;
        }
      }
    }

    .qr-donation__img-box {
      margin-top: 128px;
      min-width: 342px;
      min-height: 342px;
      background:
        url('../../../public/images/visuals/corner-left-top-qr-home.svg') left top no-repeat,
        url('../../../public/images/visuals/corner-right-bottom-qr-home.svg') right bottom no-repeat;
      align-self: center;

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        margin-top: 60px;
        align-self: flex-start;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-xs) {
        margin-top: 5px;
        align-self: flex-end;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-l) {
        margin-top: 16px;
        align-self: initial;
        margin-right: 85px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-m) {
        margin-top: 16px;
        align-self: initial;
        margin-right: 0px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-s) {
        min-width: 230px;
        min-height: 230px;
        align-self: flex-end;
        background-size: 30%;
      }
    }
  }

  .section-donation__form {
  }
}
