@import '../constants.scss';

.section-socials {
  margin-bottom: 70px;
  padding: 0px 150px;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $layout-breakpoint-desktop-l) {
    padding: 0px 70px;
  }

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    padding: 0px 50px;
    min-height: 156px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-l) {
    min-height: 124px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-s) {
    padding: 0px 30px;
  }

  @media screen and (max-width: $layout-breakpoint-mobile-xl) {
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
  }

  .section-socials__title {
    margin-top: 40px;
    margin-left: 10px;
    min-width: 245px;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    position: relative;
    align-self: flex-start;

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      font-size: 32px;
      margin-top: 20px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      padding: 0;
      margin-bottom: 45px;
      min-width: initial;
      align-self: auto;

      font-size: 20px;
      line-height: 24px;
      margin-left: 5px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 245px;
      height: 31px;
      top: 45px;
      left: -10px;
      background: url('../../../public/images/visuals/underline-wavy-black-socials-home.svg') no-repeat;

      @media screen and (max-width: $layout-breakpoint-tablet-l) {
        top: 50px;
      }

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        top: 20px;
        width: 154px;
        background-size: contain;
      }
    }
  }

  .section-socials__list {
    margin-right: 85px;
    max-width: 985px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $layout-breakpoint-desktop-l) {
      margin-right: 110px;
      max-width: 990px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-m) {
      margin-right: 25px;
      max-width: 985px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      margin-right: 20px;
      max-width: 800px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-xs) {
      margin-right: 0px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      max-width: 676px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-m) {
      max-width: 593px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-s) {
      max-width: 352px;
      flex-wrap: wrap;
      row-gap: 43px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      gap: 72px;
      justify-content: center;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-l) {
      gap: 32px;
    }
  }

  .section-socials__list-item {
    width: 156px;
    height: 156px;
    background: $color-light-xl;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      width: 124px;
      height: 124px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      width: 100px;
      height: 100px;
    }
  }
}
