@import "../constants.scss";

.section-socials {
  margin-bottom: 70px;
  padding: 0px 150px;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $layout-breakpoint-desktop-l) {
    padding: 0px 70px;
  }

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    padding: 0px 50px;
    min-height: 156px;
  }

  .section-socials__title {
    margin-top: 40px;
    margin-left: 10px;
    min-width: 245px;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    position: relative;
    align-self: flex-start;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 245px;
      height: 31px;
      top: 45px;
      left: -10px;
      background: url('../../../public/images/visuals/underline-wavy-black-socials-home.svg') no-repeat;
    }
  }

  .section-socials__list {
    margin-right: 85px;
    max-width: 985px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $layout-breakpoint-desktop-l) {
      margin-right: 110px;
      max-width: 990px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-m) {
      margin-right: 25px;
      max-width: 985px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      margin-right: 20px;
      max-width: 800px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-xs) {
      margin-right: 0px;
    }
  }

  .section-socials__list-item {
    width: 156px;
    height: 156px;
    background: $color-light-xl;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}