@import '../constants.scss';

.section-mission {
  margin-bottom: 150px;
  min-height: 830px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    min-height: 560px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-xs-bugfix) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  @media screen and (max-width: $layout-breakpoint-mobile-xl) {
    max-width: initial;
    min-height: 240px;
    margin-bottom: 60px;
    padding-top: 20px;
    flex-wrap: initial;
  }

  .section-mission__title-text {
    margin-bottom: 13px;
    margin-right: 50px;
    max-width: 540px;
    min-height: 600px;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    vertical-align: bottom;

    margin-top: 100px;

    @media screen and (max-width: $layout-breakpoint-desktop-m) {
      width: 780px;
      margin-right: 15px;
      margin-bottom: 35px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      font-size: 32px;
      line-height: 48px;
      min-height: 435px;
      max-width: 500px;
      margin-bottom: 0px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-xs) {
      max-width: 402px;
      margin-right: 0px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-xs-bugfix) {
      text-align: center;
      margin-top: 100px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      margin-top: 0;
      font-size: 15px;
      max-width: 350px;
      line-height: 28px;
      text-align: center;
      min-height: 144px;
      margin-bottom: 55px;
      width: 100%;
    }

    .section-mission__text-bage {
      display: inline-block;
      margin-left: 83px;
      position: relative;

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        margin-left: 66px;
      }

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        margin-left: 0px;
        color: $color-light-xl;
        margin-right: 5px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 70px;
        height: 36px;
        left: -80px;
        bottom: 17px;
        border-radius: 36px;
        background: $color-primary-pink;

        @media screen and (max-width: $layout-breakpoint-desktop-s) {
          width: 61px;
          height: 31px;
          left: -66px;
          bottom: 13px;
        }

        @media screen and (max-width: $layout-breakpoint-mobile-xl) {
          width: 300px;
          height: 32px;
          left: -63px;
          bottom: -1px;
          right: initial;
          left: -190px;
          z-index: -1;
          background: $color-primary-blue;
        }
      }
    }

    .underline-blue {
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        width: 423px;
        height: 8px;
        display: block;
        background: url('/images/visuals/underline-blue-mission-home.svg') no-repeat;

        @media screen and (max-width: $layout-breakpoint-tablet-s) {
          width: 324px;
        }

        @media screen and (max-width: $layout-breakpoint-mobile-xl) {
          display: none;
        }
      }
    }
  }

  .section-mission__description {
    max-width: 1000px;
    width: 100%;
    position: relative;

    @media screen and (max-width: $layout-breakpoint-desktop-m) {
      max-width: 925px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      max-width: 710px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-xs) {
      max-width: 660px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      max-width: 530px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-m) {
      max-width: 360px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-xs) {
      max-width: 270px;
      margin-top: 50px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      margin-top: 0px;
      min-width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: -259px;
      left: -45px;
      display: block;
      width: 223px;
      height: 192px;
      background: url('/images/visuals/arrow-with-loop-pink-hand-drawn.svg');

      @media screen and (max-width: $layout-breakpoint-desktop-m) {
        top: -213px;
        left: 13px;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        top: -224px;
        left: -135px;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-xs) {
        top: -216px;
        left: -61px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-l) {
        top: -223px;
        left: -30px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-m) {
        top: -226px;
        left: -115px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-s) {
        top: -274px;
        left: -90px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-xs) {
        top: -225px;
        left: -96px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-xs-bugfix) {
        display: none;
      }

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        display: none;
      }
    }
  }

  .button {
    padding: 0 32px;
    height: 65px;
    min-width: 330px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-dark-l;
    color: $color-light-m;
    font-family: Steppe;
    font-size: 24px;
    line-height: 36px;

    transition: background-color 0.4s;

    &:hover {
      background-color: #3d3d3d;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      padding: 0 22px;
      height: 60px;
      min-width: 310px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      min-width: 270px;
      font-size: 20px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      max-width: 348px;
      width: 100%;
      font-size: 15px;
      border-radius: 25px;
      min-width: initial;
    }
  }

  .description {
    .description__buttons {
      display: flex;
      column-gap: 60px;
      row-gap: 20px;
      flex-wrap: wrap;
      padding-left: 25px;

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        column-gap: 20px;
        padding-left: 0;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-xs) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        align-items: center;
        row-gap: 10px;
      }
    }

    .description__text {
      margin-bottom: 20px;
      margin-top: 100px;
      margin-left: 20px;
      font-family: Steppe;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;

      @media screen and (max-width: $layout-breakpoint-desktop-m) {
        margin-bottom: 50px;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-s) {
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: 16px;
        line-height: 20px;
        margin-left: 0;
      }

      @media screen and (max-width: $layout-breakpoint-desktop-xs) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-l) {
        font-size: 12px;
        margin-bottom: 35px;
        line-height: 15px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-m) {
        margin-bottom: 0px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-s) {
        margin-bottom: 50px;
      }

      @media screen and (max-width: $layout-breakpoint-tablet-xs) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: $layout-breakpoint-mobile-xl) {
        display: none;
      }
    }
  }

  .section-mission__background {
    position: absolute;
    top: 100px;
    right: -450px;
    width: 1216px;
    height: 1181px;
    z-index: -1;
    background-image: url('/images/three-color-gradient-home.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: $layout-breakpoint-desktop-l) {
      right: -535px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-m) {
      right: -600px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      width: 1000px;
      height: 969px;
      right: -435px;
      top: 15px;
    }

    @media screen and (max-width: $layout-breakpoint-desktop-xs) {
      right: -545px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      right: -600px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-m) {
      right: -565px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-s) {
      right: -610px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-xs) {
      right: -670px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      right: -365px;
      width: 700px;
      height: 678px;
      top: 430px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-l) {
      right: -400px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-s) {
      right: -440px;
    }
  }
}
