.slide-needers {
  margin-bottom: 150px;
  padding: 0 150px;
  min-height: 912px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .slide-needers__images {
    min-width: 320px;
    padding-top: 32px ;
  }

  .slide-needers__text {
  }

  .slide {
    .slide-title {
      margin-top: 80px;
      margin-bottom: 50px;
      max-width: 780px;
      width: 100%;

      font-size: 40px;
      line-height: 60px;
      text-transform: uppercase;
    }
    .slide__main-profile {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 20px;

      ul {
        max-width: 383px;
        list-style: initial;
        padding-left: 23px;
        margin: 0;
      }
    }

    .slide__additional-profile {
      margin-left: 24px;

      font-size: 16px;
      line-height: 20px;

      ul {
        list-style: initial;
        margin: 0;
      }
    }
  }
}
