.section-mission {
  padding: 0 150px;
  margin-bottom: 150px;
  height: 930px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: 1760px) {
    padding: 0 70px;
  }

  .section-mission__title-text {
    margin-bottom: 13px;
    margin-right: 50px;
    width: 540px;
    min-height: 600px;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    vertical-align: bottom;

    .section-mission__text-bage {
      display: inline-block;
      margin-left: 83px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 70px;
        height: 36px;
        left: -80px;
        bottom: 17px;
        border-radius: 36px;
        background: #e38895;
      }
    }

    .underline-blue {
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        width: 423px;
        height: 8px;
        display: block;
        background: url('../../../public/images/visuals/underline-blue-mission-home.svg') no-repeat;
      }
    }
  }

  .section-mission__description {
    max-width: 1000px;
    width: 100%;

    &::before {
      content: '';
      position: relative;
      top: -32px;
      left: -45px;
      display: block;
      width: 223px;
      height: 192px;
      background: url('../../../public/images/visuals/arrow-with-loop-pink-hand-drawn.svg');
    }
  }

  .button {
    padding: 0 32px;
    height: 65px;
    min-width: 330px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    background: #282828;
    color: #f6f6f6;
    font-family: Steppe;
    font-size: 24px;
    line-height: 36px;
  }

  .description {
    .description__buttons {
      display: flex;
      column-gap: 60px;
      row-gap: 20px;
      flex-wrap: wrap;
      padding-left: 25px;
    }

    .description__text {
      margin-bottom: 20px;
      margin-top: 100px;
      margin-left: 20px;
      font-family: Steppe;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
}
