.slide-programs {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;

  .get-help {

  }

  .get-help__title {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 10px;
  }

  .fond-projects {
    max-width: 780px;
    width: 100%;
    .fond-projects__title {
      font-size: 40px;
      line-height: 51px;
      margin-bottom: 10px;
    }

    .fond-projects__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
