.team-card {
  flex: 0 0 205px;
  width: 205px;
  min-height: 550px;
  height: 100%;
  border-radius: 43px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;

  .team-card__text {
    margin: 0 10px;
  }

  &_lead {
    max-width: 250px;
    max-height: 0;
    flex: 0 0 250px;
  }



  .team-card__name {
    margin-top: 113px;
    margin-bottom: 12px;
    color: #282828;
    text-align: center;
    font-size: 17px;
    line-height: 15px;
  }

  .team-card__job-title {
    color: #8b8b8b;
    font-size: 17px;
    line-height: 20px;
  }
}
