@import "../constants.scss";

.team-card {
  flex: 0 0 205px;
  width: 205px;
  height: 550px;
  border-radius: 43px;
  background-color: $color-light-xl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;

  @media screen and (max-width: $layout-breakpoint-desktop-s) {
    max-width: 200px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-l) {
    max-width: 170px;
  }

  @media screen and (max-width: $layout-breakpoint-tablet-s) {
    max-width: 154px;
  }

  @media screen and (max-width: $layout-breakpoint-mobile-xl) {
    max-width: 104px;
    border-radius: 18px;
    height: 200px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.07);
  }

  .team-card__text {
    margin: 0 10px;

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      margin: 0 5px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-s) {
      margin: 0 15px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      margin: 0 5px;
    }
  }

  &_lead {
    max-width: 250px;
    flex: 0 0 250px;
    position: relative;

    @media screen and (max-width: $layout-breakpoint-desktop-s) {
      max-width: 210px;
    }

    @media screen and (max-width: $layout-breakpoint-tablet-l) {
      max-width: 170px;
    }

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      max-width: 104px;
    }
  }

  img {
    border-radius: 43px;

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      border-radius: 18px;
    }
  }

  .team-card__name {
    margin-top: 113px;
    margin-bottom: 12px;
    color: $color-dark-l;
    text-align: center;
    font-size: 17px;
    line-height: 15px;

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      margin-top: 25px;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 5px;
    }
  }

  .team-card__job-title {
    color: $color-dark-m;
    font-size: 17px;
    line-height: 20px;

    @media screen and (max-width: $layout-breakpoint-mobile-xl) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
