@import '../constants.scss';

.help-way-card {
  padding: 30px;
  width: 425px;
  border-radius: 40px;
  background-color: $color-light-xl;
  flex-shrink: 0;

  img {
    margin-bottom: 20px;
    border-radius: 30px;
    width: 365px;
    height: 275px;
    object-fit: cover;
  }

  .help-way-card__text {
    margin-bottom: 20px;
  }

  h5 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    min-height: 84px;
  }

  p {
    margin-bottom: 15px;
  }

  .help-way-card__button-hide {
    color: $color-primary-blue;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    border-radius: 75px;
    border: 1px solid $color-dark-l;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
  }
}
