@import '../constants.scss';

.section-donate {
  margin-bottom: 150px;
  padding-top: 60px;

  h2 {
    margin-bottom: 100px;
  }

  .section-donate__body {
    display: flex;
    gap: 60px;
  }

  .section-donate__form-container {
    max-width: 780px;
    width: 100%;
    .donation-form {
      background: radial-gradient(circle at 0% 100%, #263c93, transparent 350px),
        radial-gradient(circle at 80% 100%, #ffdb23, transparent 500px);
      background-repeat: no-repeat;
    }
  }

  .section-donate__description {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    line-height: 36px;
  }

  p {
    margin-bottom: 40px;
  }

  .section-donate__hint-button {
    margin-bottom: 30px;
    color: $color-primary-blue;
  }

  .section-donate__link {
    color: $color-primary-blue;
    text-transform: uppercase;
    margin-bottom: 110px;
  }

  .section-donate__image-container {
    align-self: center;
  }
}
