.ways-to-help-page {
  section {
    scroll-margin-top: 200px;
    h2 {
      display: flex;
      align-items: center;
      font-size: 40px;
      line-height: 46px;
      text-transform: uppercase;

      &::before {
        content: '';
        margin-top: -9px;
        margin-right: 20px;
        width: 90px;
        height: 4px;
        background-position: center;
        background-image: url('/images/visuals/ways-to-help-heading-mark-black.svg');
        background-repeat: no-repeat;
      }
    }
  }
}
